:root{
    --primary-color: hsl(0, 1%, 15%);
    --secondary-color: hsl(0, 0%, 21%);
    --tertiary-color: hsl(36, 100%, 65%);
    --font-color: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: "Inter";
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    height: 10vh;
    background-color: var(--secondary-color);

}

.links{
    display: flex;
    align-items: center;
    gap: 1em;
}

.link-style{
    text-decoration: none;
    color: var(--font-color);
}

.login-button{
    border: 0;
    background-color: var(--tertiary-color);
    color: var(--font-color);
    font-size: 1em;
    width: 5em;
    padding: 0.5em;
    border-radius: 2em;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: calc(100% - 2em);
    height: calc(90vh - 2em);
    background-image: url(Assets/bannerImage.jpg);
    background-size: cover;
}

.phone{
    margin: 0;
    padding: 0;
    z-index: 10;
    height: 80vh;
}

.wellness-section, .library-section, .progress-section{
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 1em;
}

.library-section{
    position: relative;
    overflow: visible;
}

.library-content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.library-icon{
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.8rem;
    background-image: url('Assets/rib_eye_steak_au_poivre_with_roasted_veggies.jpg');
    background-size: cover;
    background-position: center;
    color: var(--font-color);
    font-weight: 700;
    letter-spacing: 0.12em;
    font-size: 1.1rem;
    border: 2px solid rgba(255,255,255,0.12);
    box-shadow: 0 6px 18px rgba(0,0,0,0.35);
    user-select: none;
    position: relative;
    overflow: hidden;
}

.library-icon::after{
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.32);
    pointer-events: none;
}

.library-icon:hover, .library-icon:focus{
    transform: translateY(-4px);
    transition: transform 180ms ease;
    box-shadow: 0 12px 22px rgba(0,0,0,0.45);
}


/* .wellness-section{
}

.library-section{

}

.progress-section{

} */