:root{
    --primary-color: hsl(0, 1%, 15%);
    --secondary-color: hsl(0, 0%, 21%);
    --tertiary-color: hsl(36, 100%, 65%);
    --font-color: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: "Inter";
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    height: 10vh;
    background-color: var(--secondary-color);

}

.links{
    display: flex;
    align-items: center;
    gap: 1em;
}

.link-style{
    text-decoration: none;
    color: var(--font-color);
}

.login-button{
    border: 0;
    background-color: var(--tertiary-color);
    color: var(--font-color);
    font-size: 1em;
    width: 5em;
    padding: 0.5em;
    border-radius: 2em;
}

.banner{
    display: flex;
    z-index: -1;
    width: 100%;
    height: 90vh;
    background-image: url(img.jpg);
}

.phone{
    margin: 0;
    padding: 0;
    margin-left: 720px;
    z-index: 10;
    height: 80vh;
}

.wellness-section, .library-section, .progress-section{
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 1em;
}


/* .wellness-section{
}

.library-section{

}

.progress-section{

} */